<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <div class="container mt-5">
        <h2 class="tex-center">DATA GITAR ELEKTRIK</h2>
        <div class="row mt-3">
            <!-- Alert -->
            <div class="col-auto col-lg-12 mt-2">
                <% if(alert.message !="") { %>
                    <div class="alert alert -<%= alert.status%>" role="alert">
                        <%= alert.message %>
                    </div>
                    <%}%>
            </div>
            <!-- table -->
            <div class="col-auto col-lg-12 mt-12">
                <%- include('table.ejs') %>
            </div>
        </div>
    </div>
    <!-- Add Modal -->
    <%- include('add_modal.ejs')%>
        <!-- Edit Modal -->
        <%- include('edit_modal.ejs')%>
            <!-- JS -->
            <%- include('js.ejs')%>
                <script>
                    $("#dataTable").on("click", "button-update", () => {
                        let id_gitar = $(this).data("id_gitar");
                        let merk = $(this).data("merk");
                        let jeniskayu = $(this).data("jeniskayu");
                        let fret = $(this).data("fret");
                        let seri = $(this).data("seri");
                        let deskripsi = $(this).data("deskripsi");
                        let foto = $(this).data("foto");

                        $("#edit-modal").modal("show");
                        $(".id_gitar").val(id_gitar);
                        $(".merk").val(merk);
                        $(".jeniskayu").val(jeniskayu);
                        $(".fret").val(fret);
                        $(".seri").val(seri);
                        $(".deskripsi").val(deskripsi);
                        $(".foto").val(foto);
                    });
                </script>
</body>

</html>