<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button Trigger Modal -->
        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#add-modal">
      ADD
    </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="1">
                <thead>
                    <tr>
                        <th>ID Gitar</th>
                        <th>Merk</th>
                        <th>Jenis Kayu</th>
                        <th>Fret</th>
                        <th>Seri</th>
                        <th>Deskripsi</th>
                        <th>Foto</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="">
                    <% for(let i =0; i<gitar.length; i++){ %>
                        <tr>
                            <td>
                                <%= gitar[i].id_gitar%>
                            </td>
                            <td>
                                <%= gitar[i].merk%>
                            </td>
                            <td>
                                <%= gitar[i].jeniskayu%>
                            </td>
                            <td>
                                <%=gitar[i].fret%>
                            </td>
                            <td>
                                <%= gitar[i].seri%>
                            </td>
                            <td>
                                <%= gitar[i].deskripsi%>
                            </td>
                            <td>
                                <%= gitar[i].foto%>
                            </td>
                            <td class="text-center">
                                <a href="javascript:void()" data-toggle="modal" data-target="#editModal" class="btn btn-outline-warning btn-sm button-update" data-id_gitar="<%= gitar[i].id_gitar%>" data-merk="<%= gitar[i].merk%>" data-jeniskayu="<%= gitar[i].jeniskayu%>" data-fret="<%= gitar[i].fret%>"
                                    data-seri="<%= gitar[i].seri%>" data-deskripsi="<%= gitar[i].deskripsi%>" data-foto="<%= gitar[i].foto%>">Edit</a>
                                <button type="submit" class="btn btn-outline-danger btn-sm"> Delete</button>
                                <%- include('edit_modal.ejs')%>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>